body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.new-task {
    height: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.task-list {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

.task {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}